<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
</head>

<body>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">Lista de tarefas</div>
        </div>
        <div class="card-body">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Ações</th>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Criada em</th>
                        <th>Concluída?</th>
                        <th>Data de conclusão</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- chamando o thymeleaf para iterar cada item na lista de items  -->
                    <tr th:each="item : ${todoItems}"
                        th:class="${item.isComplete} ? 'alert alert-success' : 'alert alert-warning'">
                        <td>
                            <div class="btn btn-group-sm" role="group">
                                <a class="btn btn-light" th:href="@{/edit/{id}(id=${item.id})}">
                                    <i class="bi bi-pencil-fill"></i> Editar</a>
                                <a class="btn btn-light" th:href="@{/delete/{id}(id=${item.id})}">
                                    <i class="bi bi-trash-fill"></i> Deletar</a>
                            </div>
                        </td>
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.description}"></td>
                        <td>
                            <span th:if="${item.isComplete} == true" th:text="Yes" />
                            <span th:unless="${item.isComplete} == true" th:text="No" />
                        </td>
                        <td th:text="${item.createdAt}"></td>
                    </tr>


                </tbody>
            </table>

            <p><a class="btn btn-light btn-sm mb-3" data-mdb-ripple-color="dark" href="/create-todo"></i>Crie uma
                    tarefa</a>
            </p>
        </div>

    </div>



    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
</body>

</html>