<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head"> </head>

  <body>
    <div class="container mt-3">
      <div class="row mt-5">
        <div class="col-2">
          <p>
            <a
              class="btn btn-light btn-sm mb-3"
              data-mdb-ripple-color="dark"
              href="/"
            >
              <i class="bi bi-arrows-left-square-fill"></i>Voltar</a
            >
          </p>
        </div>
        <div class="card">
          <div class="card-header">Crie uma nova tarefa</div>
        </div>
        <div class="card-body">
          <form
            action="#"
            th:action="@{/todo}"
            th:object="${todoItem}"
            method="POST"
          >
            <div class="form-group mt-3">
              <label for="title">Título</label>
              <input
                class="form-control"
                type="text"
                th:field="*{title}"
                id="title"
                placeholder="Título"
              />

              <label for="description">Descrição</label>
              <input
                class="form-control"
                type="text"
                th:field="*{description}"
                id="description"
                placeholder="Descrição"
              />

              <button
                type="submit"
                value="Submit"
                class="btn btn-light mt-3"
                data-mdb-ripple-color="dark"
              >
                <i class="bi bi-plus-square-fill"></i>Acrescente uma tarefa
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"
    ></script>
  </body>
</html>
